*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cherry Bomb One", cursive;
}
.fruitHeader{
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #fff;
}
.navBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lImg{
    display: flex;
}
.opIcon{
    font-size: 2.7rem;
    color: #34e7e4;
    display: none;
}
.li-list{
    display: flex;
    align-items: center;
}
.li-list li{
    list-style: none;
    padding: 0 10px;
}
.lnk{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
.active{
    color: #34e7e4;
}

@media only screen and (max-width:581px) {
    .navBar{
        flex-direction: column;
    }
    .logo{
    position: relative;
    }
    .lImg{
        display: flex;
    }
   .opIcon{
    display: block;
    position: absolute;
    right: -155px;
   }
    .li-list{
        flex-direction: column;
        margin-top: 20px;
        transition:2s;
        display: none;
    }
    .li-list li{
        padding-bottom: 20px;
    }
    .listActive{
        display: flex;
    }
}
@media only screen and (max-width:390px) {
    
    .opIcon{
       
        right: -125px;
       }
 }