.errror{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10vh;
}
.errror h1{
  color: aquamarine;
}
.errror button{
  padding: 15px 30px;
  border-radius: 25px;
  color: #fff;
  background-color: aquamarine;
}